@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bartender App</h1>
    
</div>

<div class="text-left">
    <input type="button" class="btn-primary" value="Drinks Menu" onclick="location.href='@Url.Action("Index","Drinks")'" />
</div>

<div class="text-right">
    <input type="button" class="btn-primary" value="Drinks Queue" onclick="location.href='@Url.Action("Queue","Drinks")'" />
</div>